---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
  <main>
    <h1 class='text-4xl font-bold text-center my-8'>Animaciones js</h1>
    <p class='text-center'>
      Las mejores librerias para animaciones js que podras encontrar
    </p>
  </main>
</Layout>
