---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1 class="text-4xl font-bold text-center my-8">APIs</h1>
    <p class="text-center">Aqui encontraras recursos de APIS gratuitas para tus proyectos.</p>
  </main>
</Layout>
