---
import Nav from "./Nav.astro"
import HeroImages from "./HeroImages.astro"
---

<section
	class='h-[800px] rounded-b-4xl w-full bg-linear-to-l from-primary2 to-primary'
>
	<Nav />
	<div
		id='fContainer'
		class='h-[150px] mt-[50px] w-full text-[4em] md:text-[10em] font-bold font-[BlackF] flex justify-center items-center text-white'
	>
		FRONTEDS
	</div>
	<p class='w-full text-center mb-8 text-white font-bold'>
		CONVERTIMOS LO ORDINARIO A LO EXTRAORDINARIO
	</p>
	<HeroImages />
</section>
