---
import p1 from "/public/images/programer1.png"
import CardAnimate from "./CardAnimate"
---

<div class='h-[400px] w-full flex'>
    <div class='h-full w-[50%] flex justify-center items-center'>
        <CardAnimate client:only />
    </div>
    <div class='h-full w-[50%] flex justify-center'>
        <img class='mask-b-from-80%' src={p1.src} alt='Programers' />
    </div>
</div>
