<nav class='flex w-full items-center justify-center h-16'>
    <ul class='flex gap-3'>
        <li><a class='btn' href='#'>Tools</a></li>
        <li><a class='btn' href='#'>Gadgets</a></li>
        <li><a class='btn' href='#'>Websites</a></li>
    </ul>
</nav>
